@use "@/styles/app" as *;

//////////////////////////////////////////////////////////////////////
// // // navbar // // //
//////////////////////////////////////////////////////////////////////
#navbar {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @include fixed(0,0,auto,0);
  width: 15%;
  height: 100%;
  padding-block: clamp(2em, 3vh, 3em);
  box-shadow: $sombra-card;
  transition: .5s $ease-return;
  .contlogo {
    width: min(90%, 10em);
    .logo {width: 100%}
  }
  .contnavbar {
    height: 80%;
    .conticon:not(.conticonActive):hover:before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #3d218534;
      border: 2px solid var(--clr-btn);
      border-radius: var(--border-responsive);
      @include animation(.8s $ease-return .2s) {
        0% {transform: scale(1);opacity: 100%}
        50% {transform: scale(1.1);opacity: 50%}
        100% {transform: scale(1);opacity: 100%}
      }
    }
    .conticon:not(.conticonActive):hover:after {
      content: "";
      position: absolute;
      inset: 3%;
      background-color: #3d218534;
      border: 2px solid var(--clr-btn);
      border-radius: var(--border-responsive);
      @include animation(.5s $ease-return .1s) {
        0% {transform: scale(1);opacity: 100%}
        50% {transform: scale(1.05);opacity: 50%}
        100% {transform: scale(1);opacity: 100%}
      }
    }
    .conticon {
      --size: clamp(3em, 10vw, 6.3em);
      position: relative;
      width: var(--size);
      height: var(--size);
      border-radius: var(--border-responsive);
      perspective: 500px;
      transition: 0.5s ease;
      :is(img, span) {
        font-weight: 500;
        font-size: $font-size-navbar;
        @include stroke(0.4px var(--clr));
      }
      img {
        width: clamp(2em, 10vw, 3.7em);
        animation: aparecer 0.5s;
        transition: 0.5s ease-in-out;
      }
    }
    .conticonActive:before {
      content: "";
      @include absoluteCenter;
      width: 100%;
      height: 100%;
      background: $clr-text-btn;
      border-radius: var(--border-responsive);
      @include media(max, small) {border-radius: 0}
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: 0.2s ease-in-out;
      z-index: -1;
      span {color: var(--clr) !important}
      @include animation(.2s $ease-return) {
        0% {transform: translateZ(-100px)}
        100% {transform: translateZ(0px)}
      }
    }
  }
}
