@use "@/styles/app" as *;

//////////////////////////////////////////////////////////////////////
// // // tienda // // //
//////////////////////////////////////////////////////////////////////
#tienda {
  :is(.primary--text, button[type].primary--text) {
    color: $clr-btn-2 !important;
    & :is(span, i) {color: $clr-btn-2 !important}
    & .v-input__slot::after {
      background: $clr-btn-2 !important;
      border-color: $clr-btn-2 !important;
    }
  }
  .contup {
    --height: 350px;
    padding-top: 2em;
    padding-bottom: 0;
    @include media(min, small) {padding-top: 2em};
    padding-inline: clamp(0, 2.75vw, 2.75em) 5%;
    @include media(max, small) {padding-inline: clamp(0, 2.75vw, 2.75em);}
    .contbanner {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: clamp(1em, 2vw, 2em);
      @include media(min, small) {grid-template-columns: 1fr 40%}
      .v-image {
        border-radius: $border-btn $border-btn 0 0;
        height: var(--height) !important;
        .backBtn {
          @include absolute(.5em,.5em);
          animation: moveleft .5s $ease-return;
        }
        span {
          --distance: .5em;
          @include absolute(auto, var(--distance), var(--distance));
          text-transform: lowercase !important;
          font-weight: 600 !important;
          color: #FFFFFF !important;
          &+span {@include absolute(auto, calc(var(--distance)*4), var(--distance))}
        }
      }
    }
    .contHistorial {
      height: var(--height);
      background-color: rgba($clr-btn-2, $alpha: .5);
      border-radius: 10px 60px 10px 10px / 5px 200px 5px 5px;
      box-shadow: $sombra-btn !important;
      padding: 1em;
      position: relative;
      overflow: hidden;
      .decoration {
        @include absolute(5px, calc(5px * var(--distance)));
        transform: translateY(-29px);
        border-radius: 50%;
        border: 3px ridge rgba(0,0,0,0.5);
        width: 10px;
        height: 10px;
        filter: $sombra-filter;
      }
      h3 {@include colorText(linear-gradient(180deg, $clr-btn 65%, black, $clr-btn)); padding-inline: 8px 20px}
      #dataTable {
        background-color: transparent;
        overflow-y: scroll;
        overflow-x: hidden;
        overscroll-behavior: contain;
        height: 260px;
        &::-webkit-scrollbar {width: 5px}
        tbody {
          tr {
            &:hover {background-color: transparent}
          }
          td {text-transform: none}
        }
        .v-chip {
          span {text-transform: capitalize !important}
        }
        .v-data-table__mobile-row:last-of-type {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .contdown {
    grid-gap: 2em;
    padding-inline: auto 5%;
    h2 {letter-spacing: -0.13em !important;font-weight: 600 !important;margin-bottom: 0 !important;
      .v-btn {padding: 1em !important;img {width: 1em !important}
      }
    }
    .contRestaurantList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, clamp(18em, 20vw, 20em)), 1fr));
      grid-gap: 1em;
      @include media(max, medium) {grid-gap: 2em}
      .card {
        width: 90%;
        height: max-content;
        gap: clamp(0.5em, 1vw, 1em);
        border-radius: $border-card;
        clip-path: $clip-path-2;
        box-shadow: $sombra-card-2!important;
        overflow: hidden;
        @include media(max, small) {margin-inline: auto}
        .contImages {
          height: 15em;
          overflow: hidden;
          position: relative;
          transition: .3s $ease-return;
          .images {
            width: 100%;
            height: 100%;
            transition: .5s $ease-return;
            &:is(:hover, :focus) {
              mix-blend-mode: multiply;
              transform: scale(1.05);
            }
          }
          label {
            @include absolute(0,-50px,0);
            color: $clr-text-btn !important;
            @include stroke(1px $clr-btn);
            pointer-events: none;
            text-align: center;
            z-index: 2;
            transition: .3s $ease-return;
          }
          &:is(:hover, :focus) {
            background-image: linear-gradient(180deg, rgba(black, .4), rgba(white, .2));
            & label {top: 20% !important}
          }
        }
        .contcard {
          padding-inline: 2em;
          padding-bottom: 1.8em;
          gap: 1em;
          p {
            width: max-content;
            line-height: 1;
            letter-spacing: -0.15ch;
          }
          .contPrice {
            font-size: clamp(1em, 1.2vw, 1.2em);
            .logoNear {
              --size: 1em;
              width: var(--size);
              height: var(--size);
            }
            span {color: $clr-label}
            .price {color: mix($clr-label, #000000) !important}
          }
        }
      }
    }
  }
}

#modalTienda {
  padding-block: 1em;
  @include media(max, small) {padding-top: calc(1em + 36px)}
  ::-webkit-scrollbar {width: 5px}
  :is(.primary--text, button[type].primary--text) {
    color: $clr-btn-2 !important;
    & :is(span, i) {color: $clr-btn-2 !important}
    & .v-input__slot::after {
      background: $clr-btn-2 !important;
      border-color: $clr-btn-2 !important;
    }
  }
  .contentModal {
    @include media(max, small) {max-height: 80vh;overflow-y: scroll}
    .titulo {color: $clr-btn-2 !important; font-weight: 700}
    @include media(min, small) {grid-template-columns: 1fr max-content}
    section.divcol  {padding:.5em; margin-right: .8em}
    .contInformacion {
      grid-row: span 2;
      height: 400px;
      @include media(max, small) {height: 300px}
      overflow-y: scroll;
      overflow-x: hidden;
      .fwrap {
        display: flex;
        flex-wrap: wrap;
        gap: .5em 1em;
        position: relative;
        align-items: center;
        background-color: hsl(0, 40%, 97%);
        border-radius: $border-btn;
        padding: .2em;
        &>* {flex: 1 1}
        &::before {
          content: var(--numeration);
          color: $clr-btn;
          font-weight: 800;
          @include absolute(-24px, 50%);
          transform: translateY(-50%);
        }
      }
      span:first-child {grid-row: span 2}
    }
    .contRightPanel {
      padding-inline: 1em;
      position: relative;
      @include media(max,small){padding-bottom: 50px}
      @include media(min, small) {
        display: grid;
        place-content: center;
      }
      &::before {
        content: "";
        background-color: #3A383F;
        @include absolute(0,0,auto,0);
        width: 2px;
        height: 90%;
        @include media(max, small) {
          @include absolute(0,0,0,auto);
          width: 90%;
          height: 2px;
        }
      }
      section+section {
        width: 315px;
        @include media(max, small) {width: 100%}
        position: relative !important;
        &::after {
          content: "";
          @include absolute(0,0,0,auto);
          background-color: #3A383F;
          width: 90%;
          height: 2px;
        }
      }
      .map {
        width: 100%;
        height: 230px;
      }
    }
  }
}
